<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SintomaServlet</servlet-name>
        <servlet-class>Servlets.SintomaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sugestaoServlet</servlet-name>
        <servlet-class>Servlets.sugestaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantaServlet</servlet-name>
        <servlet-class>Servlets.PlantaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editaUsuario</servlet-name>
        <servlet-class>Servlets.editaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterPlantaServlet</servlet-name>
        <servlet-class>Servlets.alterPlantaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>Servlets.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterAprovServlet</servlet-name>
        <servlet-class>Servlets.alterAprovServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterarSenhaServlet</servlet-name>
        <servlet-class>Servlets.alterarSenhaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>esqueciSenhaServlet</servlet-name>
        <servlet-class>Servlets.esqueciSenhaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterSenhaEsqServlet</servlet-name>
        <servlet-class>Servlets.alterSenhaEsqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaSintomaServlet</servlet-name>
        <servlet-class>Servlets.EditaSintomaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SintomaServlet</servlet-name>
        <url-pattern>/SintomaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sugestaoServlet</servlet-name>
        <url-pattern>/sugestaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantaServlet</servlet-name>
        <url-pattern>/PlantaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editaUsuario</servlet-name>
        <url-pattern>/editaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterPlantaServlet</servlet-name>
        <url-pattern>/alterPlantaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterAprovServlet</servlet-name>
        <url-pattern>/alterAprovServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterarSenhaServlet</servlet-name>
        <url-pattern>/alterarSenhaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>esqueciSenhaServlet</servlet-name>
        <url-pattern>/esqueciSenhaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterSenhaEsqServlet</servlet-name>
        <url-pattern>/alterSenhaEsqServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaSintomaServlet</servlet-name>
        <url-pattern>/EditaSintomaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
